body {
    background-color: black;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 0.5rem;
}

.poster {
    font-family: 'Libre Baskerville', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-left: 30%;
    color: whitesmoke;
    width: 40%;
}

.image {
    width: 100%;
    border: 5px solid white;
}

